@use "asset" as asset;

.basebtn {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: asset.$light;
  background: asset.$main;
  &:hover {
    color: asset.$main;
    border: solid 1px asset.$main;
    background: asset.$light;
    transition: ease 0.3s;
  }
}

.bigbtn {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: asset.$light;
  background: asset.$main;
  &:hover {
    color: asset.$main;
    border: solid 2px asset.$main;
    background: asset.$light;
    transition: ease 0.3s;
  }
}
