@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements */
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible; /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
  text-decoration: none; /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic; /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto; /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield; /* Safari 8+ */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Safari 8 */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden; /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */

::selection {
  background-color: #b3d4fc; /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-family: YuGothic, "游ゴシック", YuMincho, "游明朝";
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}

.basebtn, header .button_wrap a, main .about .left_flex a, main .classroom .right_flex .inner_flex a, main .course .flex_wrap .box .inner_flex a, footer .flex_wrap .button_wrap a {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #fafafa;
  background: #609966;
}
.basebtn:hover, header .button_wrap a:hover, main .about .left_flex a:hover, main .classroom .right_flex .inner_flex a:hover, main .course .flex_wrap .box .inner_flex a:hover, footer .flex_wrap .button_wrap a:hover {
  color: #609966;
  border: solid 1px #609966;
  background: #fafafa;
  transition: ease 0.3s;
}

.bigbtn, main .trial .flex_wrap a {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fafafa;
  background: #609966;
}
.bigbtn:hover, main .trial .flex_wrap a:hover {
  color: #609966;
  border: solid 2px #609966;
  background: #fafafa;
  transition: ease 0.3s;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
header .left_flex {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .left_flex figure {
  width: 50px;
  height: 50px;
}
header .left_flex figure img {
  width: 100%;
  height: 100%;
}
header .left_flex .search_bar {
  width: 400px;
  height: 32px;
  position: relative;
}
header .left_flex .search_bar input {
  width: 400px;
  height: 32px;
  background: #eaeaea;
  font-size: 1.4rem;
  padding-left: 16px;
}
header .left_flex .search_bar input:-ms-input-placeholder {
  color: #1e1e1e;
}
header .left_flex .search_bar input::placeholder {
  color: #1e1e1e;
}
header .left_flex .search_bar input:focus {
  outline: 0;
}
header .left_flex .search_bar a {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 8px;
}
header .left_flex .search_bar a img {
  width: 100%;
  height: 100%;
}
header ul {
  width: 30%;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}
header ul li {
  width: 100px;
  height: 32px;
}
header ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 32px;
  text-align: center;
  color: #1e1e1e;
  position: relative;
  font-size: 1.4rem;
}
header ul li a img {
  width: 24px;
  height: 24px;
}
header ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #609966;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
header ul li a:hover {
  color: #609966;
  transition: ease 0.3s;
}
header ul li a:hover:after {
  transform: scale(1, 1);
  transform-origin: left top;
}
header .right_flex {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 8px;
}
header .right_flex a {
  display: block;
  width: 24px;
  height: 24px;
}
header .right_flex a img {
  width: 100%;
  height: 100%;
}
header .button_wrap {
  width: 25%;
  display: flex;
  gap: 16px;
  margin-left: 24px;
}
header .button_wrap a {
  width: 140px;
}

main {
  width: 100%;
  height: max-content;
}
main .main_visual {
  width: 100%;
  height: 620px;
  background: url("https://click.ecc.ac.jp/ecc/darren/Ohsado/public/img/main_visual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 60px;
}
main .main_visual h1 {
  width: 560px;
  font-size: 4rem;
  color: #fafafa;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  position: absolute;
  left: 48px;
  bottom: 48px;
}
main .about {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
main .about .left_flex {
  margin-left: 64px;
}
main .about .left_flex h2 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  margin-bottom: 8px;
}
main .about .left_flex h3 {
  font-size: 3.6rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  margin-bottom: 16px;
  border-bottom: solid 1px #609966;
}
main .about .left_flex p {
  width: 590px;
  height: 160px;
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin-bottom: 16px;
}
main .about figure {
  width: 760px;
  height: 540px;
}
main .about figure img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
main .classroom {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
main .classroom figure {
  width: 760px;
  height: 540px;
}
main .classroom figure img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}
main .classroom .right_flex {
  margin-right: 64px;
}
main .classroom .right_flex h2 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  margin-bottom: 8px;
}
main .classroom .right_flex h3 {
  font-size: 3.6rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  margin-bottom: 16px;
  border-bottom: solid 1px #609966;
  padding-left: 374px;
}
main .classroom .right_flex p {
  width: 590px;
  height: 100px;
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin-bottom: 16px;
}
main .classroom .right_flex .inner_flex {
  display: flex;
  justify-content: flex-end;
}
main .course {
  width: 100%;
  height: 1400px;
  margin-bottom: 60px;
}
main .course h2 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  margin-bottom: 8px;
  margin-left: 64px;
}
main .course h3 {
  font-size: 3.6rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  margin-left: 64px;
}
main .course .flex_wrap {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
main .course .flex_wrap .box {
  width: 500px;
  height: 570px;
}
main .course .flex_wrap .box h2 {
  font-size: 1.6rem;
  font-family: YuGothic, "游ゴシック";
  margin-left: 0;
}
main .course .flex_wrap .box h3 {
  font-size: 3.2rem;
  margin-bottom: 16px;
  margin-left: 0;
}
main .course .flex_wrap .box figure {
  width: 500px;
  height: 290px;
  margin-bottom: 16px;
}
main .course .flex_wrap .box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .course .flex_wrap .box p {
  width: 500px;
  height: 100px;
  font-size: 1.6rem;
  line-height: 3.2rem;
  margin-bottom: 16px;
}
main .course .flex_wrap .box .inner_flex {
  display: flex;
  justify-content: flex-end;
}
main .review {
  width: 100%;
  height: 500px;
  margin-bottom: 60px;
}
main .review h3 {
  font-size: 3.6rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  text-align: center;
}
main .review .flex_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
}
main .review .flex_wrap .card {
  width: 300px;
  height: 400px;
  border: solid 1px #1e1e1e;
  background: #fafafa;
}
main .review .flex_wrap .card figure {
  width: 80px;
  height: 80px;
  margin: 16px auto;
}
main .review .flex_wrap .card figure img {
  width: 100%;
  height: 100%;
}
main .review .flex_wrap .card p {
  width: 235px;
  height: 270px;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 3.2rem;
}
main .trial {
  width: 100%;
  height: 190px;
  margin-bottom: 60px;
}
main .trial h3 {
  font-size: 3.6rem;
  font-weight: normal;
  font-family: YuMincho, "游明朝";
  text-align: center;
}
main .trial .flex_wrap {
  width: 650px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px auto;
}
main .trial .flex_wrap a:last-child {
  color: #609966;
  background: #fafafa;
  border: solid 2px #609966;
}
main .trial .flex_wrap a:last-child:hover {
  color: #fafafa;
  background: #609966;
  transition: ease 0.3s;
}

footer {
  width: 100%;
  height: 360px;
  background: #fafafa;
  padding-top: 8px;
}
footer figure {
  width: 100px;
  height: 100px;
  margin: 0px auto;
}
footer figure img {
  width: 100%;
  height: 100%;
}
footer .form_wrap {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
footer .form_wrap input {
  width: 300px;
  height: 50px;
  border: solid 1px #dfdfdf;
  background: #fafafa;
  font-size: 1.4rem;
  padding-left: 16px;
}
footer .form_wrap input:-ms-input-placeholder {
  color: #1e1e1e;
}
footer .form_wrap input::placeholder {
  color: #1e1e1e;
}
footer .form_wrap input:focus {
  outline: 0;
}
footer .form_wrap a {
  display: block;
  width: 60px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #fafafa;
  background: #609966;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 60px;
  margin: 32px auto;
  border-bottom: solid 1px #dfdfdf;
}
footer ul li {
  width: 150px;
  height: 50px;
}
footer ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  font-size: 1.4rem;
  color: #1e1e1e;
  text-align: center;
  position: relative;
}
footer ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #609966;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
footer ul li a:hover {
  color: #609966;
  transition: ease 0.3s;
}
footer ul li a:hover:after {
  transform: scale(1, 1);
  transform-origin: left top;
}
footer .flex_wrap {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
footer .flex_wrap .button_wrap {
  display: flex;
  justify-content: space-around;
}
footer .flex_wrap .button_wrap a {
  width: 80px;
  height: 36px;
  line-height: 36px;
}
footer .flex_wrap .button_wrap a:last-child {
  font-weight: normal;
  color: #1e1e1e;
  background: none;
}
footer .flex_wrap .button_wrap a:last-child:hover {
  font-weight: bold;
  color: #fafafa;
  background: #609966;
}
footer .flex_wrap .icon_wrap {
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: space-around;
}
footer .flex_wrap .icon_wrap figure {
  width: 24px;
  height: 24px;
}
footer .flex_wrap .icon_wrap figure img {
  width: 100%;
  height: 100%;
}
footer .flex_wrap p {
  font-size: 1.4rem;
  font-family: YuMincho, "游明朝";
}