footer 
  figure 
      img(src="img/ohsado_logo_text.svg", alt="")
  .form_wrap 
      input(type="text" placeholder="メールアドレスを記入")
      a(href="") 登録
  ul 
      li: a(href="#header") トップ 
      li: a(href="about.html") 御茶堂について 
      li: a(href="#") 茶道室 
      li: a(href="#course") コース 
  .flex_wrap 
      .button_wrap 
          a(href="#") 日本語
          a(href="#") 英語
      .icon_wrap 
          figure 
              a(href=""): img(src="img/x_icon.svg", alt="")
          figure 
              a(href=""): img(src="img/instagram.svg", alt="")
          figure 
              a(href=""): img(src="img/facebook.svg", alt="")
      p &copy; 2023 Ohsado 