header#header 
    .left_flex 
        figure 
            a(href="index.html"): img(src="img/ohsado_logo.svg", alt="Ohsado Logo")
        .search_bar 
            input(type="text" placeholder="検索")
            a(href="#"): img(src="img/search.svg", alt="")
    ul 
        li: a(href="about.html") 御茶堂について
        li: a(href="#") 茶道室
        li: a(href="#course") コース
        li: a(href="#") お茶のこと
    .right_flex  
        a(href="#"): img(src="img/user.svg", alt="")
        a(href="#"): img(src="img/cart.svg", alt="")
    .button_wrap
        a(href="#") 無料体験
        a(href="#") チュートリアル 